<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>회원정보</h1>
    <div>이름 <%= userInfo.name %></div>
    <div>성별 <%= userInfo.gender %></div>
    <div>
      생년월일 <%= userInfo.year %>년 <%= userInfo.month %>월 <%= userInfo.day
      %>일
    </div>
    <div>관심사 <%= userInfo.hobby %></div>
  </body>
</html>
